.opensans {
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.interface {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 999;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.help {
  position: absolute;
  bottom: 48px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  line-height: 20px;
  text-align: center;
}
.text {
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  color: #000000;
}
.text-made {
  position: absolute;
  bottom: 24px;
  left: 24px;
}
.text-inspiration {
  position: absolute;
  bottom: 24px;
  right: 24px;
}
.text-link {
  position: relative;
  color: #000000;
  font-weight: 600;
  text-decoration: none;
}
.text-link:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #000000;
  -webkit-transition: width 0.2s ease-out;
  -moz-transition: width 0.2s ease-out;
  -o-transition: width 0.2s ease-out;
  transition: width 0.2s ease-out;
}
.text-link:hover:after {
  width: 100%;
}
.love svg {
  width: 12px;
  height: 12px;
  fill: #f44336;
}
