@import "_lesshat";
@import "_params";

html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.control {
	position: absolute;
	bottom: 36px;
	left: 50%;
	.translate(-50%, 0);
}

.control-play {
	width: 60px;
	height: 60px;

	background-color: @darkgrey;
	
	border-radius: 50%;

	cursor: pointer;
}