@import "_lesshat";
@import "_params";

html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.interface {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 999;
}

canvas {
	position: absolute;
	top: 0;
	left: 0;
}

.help {
	position: absolute;
	bottom: 24px;
	left: 50%;
	.translate(-50%, 0);

	line-height: 20px;
	text-align: center;
}

.help-color {
	width: 30px;
	height: 30px;
	margin: 0 auto 12px;

	border-radius: 50%;

	cursor: pointer;
	.transition(background-color 0.4s ease-out);
	.box-shadow(0px 4px 6px -1px @darkgrey);

	&.help-color_indigo { background-color: #3F51B5; }
	&.help-color_grey 	{ background-color: #9e9e9e; }
	&.help-color_green { background-color: #009688; }
	&.help-color_red { background-color: #db4437; }
	&.help-color_yellow { background-color: #f4b400; }
	&.help-color_blue { background-color: #02a8f3; }
}

.text {
	.opensans;
	font-size: 14px;
	color: @black;
}

.text-made {
	position: absolute;
	bottom: 24px;
	left: 24px;
}

.text-inspiration {
	position: absolute;
	bottom: 24px;
	right: 24px;
}

.text-link {
	position: relative;

	color: @black;
	font-weight: 600;
	text-decoration: none;

	&:after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0;
		height: 1px;

		background-color: @black;

		.transition(width 0.2s ease-out);
	}

	&:hover {
		&:after {
			width: 100%;
		}
	}
}

.love svg {
	width: 12px;
	height: 12px;
	fill: @red;
}